{% extends 'tasks/base.html' %}

{% block content%}
<main class="container py-5"> 
    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia iure eveniet deleniti, non praesentium ullam nostrum, qui excepturi illum aut dolores commodi quis harum rem optio porro voluptas reprehenderit quo amet possimus? Accusantium dicta error blanditiis enim porro ea aliquid illum numquam ut, neque consectetur, sit, distinctio quas laudantium obcaecati minima unde sint? Beatae repellat enim ipsa temporibus quam consequuntur rerum laborum architecto optio, soluta ea in tempora perspiciatis impedit tempore ex cum quas magnam commodi porro nostrum et. Odit iusto ducimus similique voluptatibus nemo voluptatem obcaecati aspernatur architecto illo magni eveniet aperiam officia sed esse est, consequatur labore in.</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-primary" href="/signup/">
                Signup
            </a>
        </div>
    </section>
</main>
{% endblock  %}
